body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
  color: #ec0404;
  background-color: #c2c2b8;
}

header {
  margin-bottom: 20px;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: rgba(14, 1, 13, 0.836);
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2em;
}

article {
  margin-top: 20px;
}

footer {
  margin-top: 40px;
  font-size: 0.9em;
  color: #555;
}
